/* main design */
/* line 5, ../../sass/04-module/main-design.scss */
.main-design {
  margin-top: -105px;
}
/* line 9, ../../sass/04-module/main-design.scss */
.main-design-this {
  margin-top: 148px;
  margin-left: 379px;
  font-size: 74.48px;
  font-family: 'Playfair Display', serif;
  color: white;
  position: absolute;
  font-style: italic;
}
/* line 19, ../../sass/04-module/main-design.scss */
.main-design-sounded {
  font-size: 125.43px;
  margin-top: 172px;
  margin-left: 218px;
  font-family: 'Playfair Display', serif;
  color: white;
  position: absolute;
  font-style: italic;
}
/* line 31, ../../sass/04-module/main-design.scss */
.main-design-a {
  font-size: 49.67px;
  margin-top: 288px;
  margin-left: 240px;
  font-family: 'Playfair Display', serif;
  color: white;
  position: absolute;
  font-style: italic;
}
/* line 42, ../../sass/04-module/main-design.scss */
.main-design-very {
  font-size: 121px;
  margin-top: 258px;
  margin-left: 272px;
  font-family: 'Playfair Display', serif;
  color: white;
  position: absolute;
  font-style: italic;
}
/* line 53, ../../sass/04-module/main-design.scss */
.main-design-good {
  font-size: 64px;
  margin-top: 365px;
  margin-left: 199px;
  font-family: 'Playfair Display', serif;
  color: white;
  position: absolute;
  font-style: italic;
}
/* line 63, ../../sass/04-module/main-design.scss */
.main-design-reason {
  font-size: 99px;
  margin-left: 341px;
  margin-top: 364px;
  font-family: 'Playfair Display', serif;
  color: white;
  position: absolute;
  font-style: italic;
}
