/* Testimonial */
/* line 3, ../../sass/04-module/testimonial-section.scss */
.testimonial-section {
  background-color: #1f1f1f;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
}
/* line 12, ../../sass/04-module/testimonial-section.scss */
.testimonial-section-heading {
  text-align: center;
  color: white;
  margin-top: 50px;
  font-size: 50px;
}
/* line 21, ../../sass/04-module/testimonial-section.scss */
.testimonial-section-paragraph {
  color: #5a5a5a;
  text-align: center;
  font-size: 14px;
  font-family: 'open Sans', sans-serif;
  margin-top: -22px;
  margin-left: 94px;
}
