/*feature-header*/


.feature-header {
                   position: relative;
                   top:45px;


    &-logo {
        float: left;
        margin-left: 46px;
        margin-top: -5px;



        img {
            width: 106px;
            height: 50px;
        }


    }

    &-nav {
        float: right;
        margin:0px -106px;


    }
}
