/* pricing-section */

.pricing-section {

            background-color: #1f1f1f;
            width:100%;
            padding-top: 10px;
            padding-bottom: 50px;



          &-heading {

            text-align: center;
            color: white;
            margin-top: 37px;
            margin-right: 113px;
            font-size: 40px;
            font-family: playfairdisplay-black;


          }
        }
