/* project-header */



.project-header {

    &-logo {
        float: left;
        margin-top: 25px;
        margin-left: 5px;

        img {
            width: 106px;
            height: 50px;
        }


    }

    &-nav {
        float: right;
        margin:30px;


    }
}
