/* header */
.l-header {
    &-logo {
        float: left;
        margin-top: 38px;
        margin-left: 44px;

        img {
            width: 106px;
            height: 50px;
        }

        &-clearfix
        {
          clear:both;
        }
    }

    &-nav {
        float: right;
        margin:15px;


    }
}
