/* main */

.l-main {
    &-section {
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }

        //modifier
        &-contact{

          background: no-repeat center center / cover;
          position: relative;
          text-align: center;
          margin: 0;
          padding: 30px;
        }
    }
}
